@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap%27');

body {
    margin: 0;
    padding: 0;
    background: rgb(164,3,3);
    background: linear-gradient(180deg, rgba(164,3,3,1) 0%, rgba(102,2,2,1) 0%, rgba(0,0,0,1) 100%);
    background-size: cover;
}

#particles-js{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    background: transparent;
  }

#header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

}
#header_left {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  font-family: 'New Rocker', cursive;
}

h5 {
 font-size: 38px;
 font-family: Arial, Helvetica, sans-serif;
}



button {
        display: inline-block;
        background-color: #971010;
        border-radius: 20px;
        border: 4px double black;
        color: #eeeeee;
        font-weight: bolder;
        text-align: center;
        width: 180px;
        height: 50px;
        transition: all 1s;
        cursor: pointer;
        margin: 45px;
      }
      button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      button span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      button:hover {
        background-color: #f8961e;
      }
      button:hover span {
        padding-right: 25px;
      }
      button:hover span:after {
        opacity: 1;
        right: 0;
      }         

#f1_container {
  float: right;
  position: relative;
  margin: 50px auto;
  width: 50vw;
  height: 481px;
  z-index: 1;
  margin:40px;
}

#f1_container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
#f1_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
    -webkit-box-shadow: 5px 5px 5px #aaa;
  -moz-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 5px 5px 5px #aaa;
}
#f1_container:hover #f1_card, #f1_container.hover_effect #f1_card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  cursor:pointer;
  -webkit-box-shadow: -5px 5px 5px #aaa;
  -moz-box-shadow: -5px 5px 5px #aaa;
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.face.back {  
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
  background-color: maroon;
}

p{
    font-weight: bolder;
    font-size: larger;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}     