{{ define "main" }}

<div class="row row-cols-4">
  {{ range where .Site.RegularPages "Section" "resources" }}
  <div class="col">
    <div class="card">
      <a href="{{.RelPermalink}}">
      <div class="card-header">
        <h3>{{ .Title }}</h3>
      </div>
      <div class="card-body">
        <img class="img-fluid" src="{{ .Params.image }}" alt="{{ .Params.image_text }}">
        <p>{{ .Description }}</p>
      </div>
      </a>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}