{{ define "main" }}
{{ with .Resources.GetMatch "style.css"}}
<link rel="stylesheet" href="{{ .Permalink }}">
{{ end}}
<div>

  {{ with .Resources.GetMatch "index.html"  }}
  <div>
    {{ .Content  | safeHTML }}
  </div>
  {{ end }}

</div>

{{ end }}