
        <div class="background">
            <div class="presentation">
                <h1>WELCOME TO SKYLAND !</h1>
                <p>C'est un jeu édité par l'entreprise studio PEN (Paris Est Numérique ) 
                    développeuse de jeux vidéos. C'est un jeu à monde ouvert qui a pour 
                    but la survie en solo ou en coopération. L'objectif est de 
                    rester en vie en vous servant de votre créativité comme d'une arme .</p>
                <a href="https://www.minetest.net/downloads/" class="bouton" target="_blank">
                    <div class="bouton2">
                        <p>TELECHARGER</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="background2">
            <div class="partie2">
                <div class="extension">
                    <img src="image2.png" alt="" class="ext">
                </div>
                <div class="presentation2">
                    <h1>
                        NEW MOD ARAM !
                    </h1>
                    <p>
                        Bienvenue dans le nouveau mode de jeu fun et try hard ARAM .
                        Vous pourrez jouer avec vos amis dans un mode de jeu en 5v5 . Deux équipes s'affrontent 
                        dans le but d'effectuer le plus d'éliminations possibles dans un temps ou un score imposé.
                    </p>
                </div>
            </div>
        </div>
        <div class="background3">
            <div class="uploads">
                <h1>NOUVEUX CHAMPIONS !</h1>
                <div class="actu">
                    <div class="images">
                        <img src="guerrier.png" alt="" class="a">
                        <h1>GUERRIER</h1>
                        <p>Avec un physique robuste 
                            les chevaliers n’ont aucun scrupule à 
                            se tenir sur les premières lignes pour 
                            protéger leurs alliés</p>
                    </div>
                    <div class="images">
                        <img src="archer.png" alt="" class="a">
                        <h1>RANGER</h1>
                        <p>Les Rangers sont bons au combat à longue portée. 
                            Préférant garder leurs ennemis à distance, 
                            les rangers qualifiés utilisent des arcs</p>
                    </div>
                    <div class="images">
                        <img src="magicien.png" alt="" class="a">
                        <h1>PRETRE</h1>
                        <p>Guérisseur, Soutien. Connus pour valoriser 
                            le bien-être des alliés au-dessus de leur propre vie,</p>
                    </div>   
                </div>    
            </div>
        </div>
        <div class="background4">
            <div class="uploadsnoel">
                <h1>PROCHAINE MISES A JOURS POUR NOËL !</h1>
                <div class="actunoel">
                     <div class="perso">
                        <div class="skin">
                            <div class="mobs">
                                <img src="image6.png" alt="" class="im">
                            </div>
                            <div class="mobs">
                                <img src="image7.png" alt="" class="im">
                            </div>
                            <div class="mobs">
                                <img src="image14.png" alt="" class="im">
                            </div>
                        </div>
                     </div>
                     <div class="map">
                        <div class="mapnoel">
                            <div class="mapa">
                                <img src="image16.png" alt="" class="ima">
                            </div>
                        </div>
                     </div>
                     <div class="aaa"></div>
                </div>    
            </div>
        </div>
        <footer>
                <p>© 2015-2022 The Minetest Team. Source</p>
                <p>MIT for code, CC-BY-SA 3.0 for content,
                media under various licenses. Font Awesome
                icons under CC-BY 4.0.</p>    
        </footer>
