* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 99vw;
    height: 440vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.background {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 47%;
    left: 10%;
    z-index: 1;
}

h1, p {
   color: white; 
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 300%;
    line-height: 130%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    line-height: 130%;
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50%;
    height: 25%;
    background-color: green;
    transition: width 1s, height 1s, transform 1s;
}

.bouton:hover {
    background-color: black;
    width: 51%;
    height: 26%;
}

.bouton2 p {
    font-size: 120%;
}

.background2 {
    background-image: url("image12.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
}

.partie2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 60%;
}

.extension {
    position: relative;
    width: 60%;
    height: 100%;
}

.ext {
    width: 100%;
    height: 100%;
    transition: width 1s, height 1s, transform 1s;
}

.ext:hover {
    width: 103%;
    height: 103%;
    
}

.presentation2 {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation2 h1 {
    font-size:  280%;
    margin-bottom: 5%;
}

.presentation2 p {
    font-size: 120%;
}

.background3 {
    background-image: url("image12.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.uploads {  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("image5.png");
    width: 70%;
    height: 85%;
    text-align: center;
}

.actu {
    width: 75%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images {
    width: 28%;
}

.uploads .actu .images h1 {
    font-size: 120%;
    color: green;
}

.uploads .actu .images h1:hover {
    color: white;
}

.uploads h1 {
    margin-top: 8%;
    margin-bottom: 4%;
    color: white;
    font-size: 220%;
}

.uploads p {
    margin-top: 5%;
    margin-bottom: 3%;
    color: white;
    font-size: medium;
}

.a {
    width: 100%;
    height: 100%;
    transition: width 0.3s, height 0.3s, transform 0.3s;
} 

.a:hover {
    width: 105%;
    height: 105%;
}

.background4 {
    width: 100%;
    height: 100vh;
    background-image: url("image12.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.uploadsnoel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 70%;
    height: 85%;
    text-align: center;
}


.uploadsnoel h1 {
    margin-top: 5%;
    margin-bottom: 4%;
    color: white;
    font-size: 220%;
}

.actunoel {
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blanchedalmond;
}

.perso {
    width: 30%;
    height: 100%;
}

.skin {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.mobs {
    width: 33%;
    height: 100%;
}

.im {
    width: 100%;
    height: 100%;
}

.map {
    width: 30%;
    height: 100%;
    background-color: blue;
}

.aaa {
    width: 30%;
    height: 100%;
    background-color: blueviolet;
}

footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    line-height: 150%;
    width: 50%;
    font-family: 'arial', sans-serif;
    font-size: 110%;
}

