    <div class="col">
      <div class="card">
        <a href="{{.RelPermalink}}">
        <div class="card-header">
          <h3>{{ .Title }}</h3>
          <div>Equipe {{.Params.equipe}}</div>
          <div>
            {{range .Params.tags }}
            <div>{{.}}</div>
            {{ end }}
          </div>
        </div>
        <div class="card-body">
            {{ with .Resources.GetMatch .Params.image }}
            <img class="img-fluid" src="{{ .RelPermalink }}" alt="{{ .Params.image_text }}">
            {{ end }}
            <div>{{ .Params.description }}</div>
        </div>
        </a>
      </div>
    </div>

