<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">Paris Est Numérique</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ range .Site.Menus.main }}

            <li class="nav-item">
                <a class="nav-link {{ if $.IsMenuCurrent "main" . }}active" aria-current="page{{ end }}" href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
            </li>
    {{ end }}
        </ul>
      </div>
    </div>
    <ul>

    </ul>

  </nav>